---
import { client } from '../lib/sanity'

const posts = await client.fetch(`*[_type == "post"] | order(publishedAt desc)`)
---

<html>
  <body>
    <main>
    <header>
      <h1>Voice</h1>
    </header>
    {posts.length === 0 && <p>No posts found</p>}
    <section aria-label="Blog post list">
      {posts.map(post => (
        <article>
          <h2>{post.title}</h2>
          <p>{post.excerpt}</p>
        </article>
      ))}
    </section>
    </main>
  </body>
</html>